[Unit]
Description=Remove screenshots older than 7 days from Screenshots

[Service]
ExecStart=/usr/bin/find ~/Pictures/Screenshots -name "Screenshot-*.png" -atime +7 -delete
